@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arimo;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo {
    font-size: 30px;
}

.navmenu {
    display: flex;
}

    .navmenu a {
        color: #2c2c2c;
        font-size: 16px;
        text-transform: capitalize;
        padding: 10px 20px;
        font-weight: 400;
        transition: all .42s ease;
    }

        .navmenu a:hover {
            color: #EE1C47;
        }

.nav-icon {
    display: flex;
    align-items: center;
}

    .nav-icon i {
        margin-right: 20px;
        color: #2c2c2c;
        font-size: 25px;
        font-weight: 400;
        transition: all .42s ease;
    }

        .nav-icon i:hover {
            transform: scale(1.1);
            color: #EE1C47;
        }

#menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}

.main-home {
    padding: 5% 10%;
    width: 100%;
    height: 100vh;
    background-image: url(../image/nike.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.main-text h5 {
    color: #EE1C47;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h1 {
    color: #000;
    font-size: 65px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.1;
    margin: 6px 0 10px;
}

.main-btn {
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}

    .main-btn:hover {
        background-color: #000;
        color: #fff;
    }

    .main-btn i {
        vertical-align: middle;
    }

.down-arrow {
    position: absolute;
    top: 85%;
    right: 11%;
}

.down i {
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 12px 12px;
}

    .down i:hover {
        background-color: #2c2c2c;
        color: #fff;
        transition: all .42s ease;
    }
/* product display*/
/* Default styles */
.center-text {
    display: grid;
    place-items: center;
}

    .center-text h2 {
        text-transform: uppercase;
    }

    .center-text span {
        color: red;
    }

.products-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 11fr));
    grid-gap: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    padding: 20px;
    border-radius: 10px;
    transition: .3s;
}

    .product-item:hover {
        transform: translateY(-15px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

.product-image {
    display: flex;
    justify-content: center;
}

.namePrice {
    display: grid;
    place-items: center;
}

    .namePrice .spanProductPrice {
        color: red;
    }

.buy {
    display: grid;
    justify-content: center;
}

.buyButton {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: navy;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}

    .buyButton:hover {
        transform: scale(1.1);
    }


.Logins {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
}

    .form:hover {
        transform: scale(1.05);
        border: 1px solid black;
    }

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}

.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

    .button1:hover {
        background-color: red;
        color: white;
    }

.button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

    .button2:hover {
        background-color: red;
        color: white;
    }


/* Log out Btn logoutBTN*/
.logoutBTN {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.2em 2em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
}

    .logoutBTN:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        color: red;
        cursor: pointer;
    }

    .logoutBTN:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .logoutBTN::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    .logoutBTN::after {
        background-color: #fff;
    }

    .logoutBTN:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

.e_Shop_productName {
    color: red;
}

.product-buyBtns-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}


/*Product Buy now BTN*/
.btn-Buynow {
    background-color: #444141;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
}

    .btn-Buynow:hover {
        background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
        animation: slidernbw 5s linear infinite;
        color: #000;
    }

@keyframes slidernbw {
    to {
        background-position: 20vw;
    }
}



/***************************************************************************************************************************/
#e_ProductDetail_board {
    /*background-color: gray;*/
    display: grid;
    grid-column: 2/8;
    grid-template-areas: "content";
    /* justify-content: center;*/
}

.e_ProductDetail_review_others {
    display: grid;
    grid-area: content;
    grid-column: 2/6;
    grid-row: 1;
}

.star_div {
    display: grid;
    grid-area: content;
    grid-column: 2/8;
    grid-row: 2;
    width: 90vw;
}

#e_ProductDetail_board_review_main {
    display: grid;
    grid-template-areas: "review";
    gap: 10px;
}

#review_main_name {
    display: grid;
    grid-area: review;
    grid-row: 1;
    grid-column: 2/3;
}

.review_writier {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

#review_main_rating {
    display: grid;
    grid-area: review;
    grid-row: 1;
    grid-column: 3/4;
}

#review_main_content {
    display: grid;
    grid-area: review;
    grid-row: 2;
    grid-column: 2/6;
}

.review_content {
    font-size: 22px;
    color: black;
}

#review_main_date {
    display: grid;
    grid-area: review;
    grid-row: 3;
    grid-column: 2/3;
}

.review_date {
    font-size: 22px;
    color: black;
}

#review_main_btn {
    display: grid;
    grid-area: review;
    grid-row: 4;
    grid-column: 2/3;
}




/***************Writing Riview grid */
#e_ProductDetail_board_result {
    display: grid;
    grid-template-areas: "write";
    gap: 10px;
}

#e_ProductDetail_board_result_star {
    display: grid;
    grid-area: write;
    grid-row: 1;
    grid-column: 1/3;
}

#e_ProductDetail_board_result_name {
    display: grid;
    grid-area: write;
    grid-row: 1;
    grid-column: 3/4;
}

#e_ProductDetail_board_result_writeContent {
    display: grid;
    grid-area: write;
    grid-row: 2;
    grid-column: 1/7;
}

#e_ProductDetail_board_result_submitBtn {
    display: grid;
    grid-area: write;
    grid-row: 3;
    grid-column: 1/3;
}

#e_ProductDetail_board_result_resultLbl {
    display: grid;
    grid-area: write;
    grid-row: 3;
    grid-column: 3/5;
}
/*********************************************************************/
.e_productDetail_lbl_productName {
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.e_productDetail_products {
    font-size: 20px;
    text-align: center;
    color: black;
}


.e_ProductDetail_addToCartImg {
    width: 250px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-size: 25px
}

    .e_ProductDetail_addToCartImg:hover {
        color: red;
        background-color:white;

        border: 3px solid black;
    }

.e_ProductDetail_buynowBTN {
    width: 250px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: red;
    color: white;
    text-transform: uppercase;
    font-size: 25px
}

    .e_ProductDetail_buynowBTN:hover {
        color: black;
       
    }
/*e_ProductDetail_addToCartImg:hover {
    border: 2px solid red;
}*/



.e_productImg {
    width: 400px;
    height: 300px;
    border: 1px solid black;
}

.e_ProductDetail_lblPrice {
    font-size: 35px;
    font-weight: bold;
}

#e_ProductDetail_hr {
    width: 50%;
    margin: 2vw 0;
}


.e_ProductDetail_textDetail {
    font-size: 30px;
    text-transform: uppercase;
}
/*  Review */
#section-Reviews {
    display: grid;
    justify-content: center;
}

/* Star*/
/*rating start*/
.starRating {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    display: block;
}

.Filledstars {
    background-image: url("../image/Filledstar.png");
}

.Watingstars {
    background-image: url("../image/waitingstar.png");
}

.Emptystars {
    background-image: url("../image/Emptystar.png");
}


/*review*/
.star_div {
    display: grid;
    justify-content: left;
    padding: 20px 40px;
}

.reiview-result {
    display: grid;
    justify-content: left;
    padding: 20px 40px;
}

/* buttons*/
.review_deleteContentBTN {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
}

    .review_deleteContentBTN:hover {
        color: red;
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
    }

    .review_deleteContentBTN:active {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }

    .review_deleteContentBTN:focus {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
    }
/*  Text Box*/
.TB_rating {
    width: 400px;
    height: 250px;
    font-size: 30px;
    border: 1px solid red;
}

/* Cart Page*/
.myCart-Label{
    color: red;
    font-size:30px
}
#myCart-Section {
    padding: 100px;
    display: grid;
    justify-content: center;
}
#myCart-Item {
   
    display: flex;
    justify-content: center;
}
.myCart-btn{
    width:100px;
    height:40px;
    background-color: red;
    color:white;
    
}
.myCart-btn:hover{
    background-color:#fff;
    color:red;
    cursor:pointer;
}
.e_MyCart_totalPrice{
    font-size:20px;
    color:red;
}
#btn-purchase{
    display:grid;
    justify-content:center;
}
.myCart-purchase {
    width: 250px;
    height: 50px;
    font-size: 40px;
    background-color:red;
    color: red;
    cursor: pointer;
    color:white;
}
    .myCart-purchase:hover {
        background-color: #fff;
        color: red;
        cursor: pointer;
    }


    /*payment success*/



#e_Success_img {
    display: grid;
    justify-content: center;
    padding: 50px;
}
#e_Sucess_btns {
    display: flex;
    gap:20px;
    justify-content: center;
}
#e_Success_goHome, #e_Success_shop {
    width: 200px;
    height: 40px;

    border-radius: 15px;
    background-color: #fff;
    font-family: Arimo;
    font-size: 20px;
    color:green;
}
    #e_Success_goHome:hover {
        border: 2px solid black;
        color: black;
        background-color:green;
        cursor: pointer;
    }
    #e_Success_shop:hover {
        border: 2px solid black;
        color: black;
        background-color:green;
        cursor: pointer;
    }